.key-table-item {
	width: 100%;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0;
}

.instrument-display {
	width: 100%;
}

.guitar-display {
	margin: auto;
	width: 240px;
}

.main-title {
	text-align:center;
	font-size: 40px;
}

.subtitle {
	text-align:center;
	color: green;
	font-size: 20px !important;
}

.fret{
	background-color: brown;
	width: 240px;
}

.note {
	display: inline-block;
	background-color: SaddleBrown;
	border-style: inset;
	border-color: black;
}

.first-line-note {
	background-color: Gray;
}

.selected-note {
	background-color: SandyBrown;
}
