.affix {
	top: 0;
	width: 100%;
}

#key-container-box-wrapper{
	min-height: 100px;
	padding-left: 0px;
	padding-right: 0px;
}

#key-container-box{
	width: 100%;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.key-table-item {
	width: 100%;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0;
}

.not-viable-key {
	color: white;
}

.instrument-display {
	width: 100%;
}

.guitar-display {
	margin: auto;
	width: 240px;
}

.main-title {
	text-align:center;
	font-size: 40px;
}

.subtitle {
	text-align:center;
	color: green;
	font-size: 20px !important;
}

.fret{
	background-color: brown;
	width: 240px;
}

.note {
	display: inline-block;
	background-color: SaddleBrown;
	border-style: inset;
	border-color: black;
}

.first-line-note {
	background-color: Gray;
}

.selected-note {
	background-color: SandyBrown;
}
