
body {
	background-color: blue;
}


.main-title {
	text-align:center;
	font-size: 40px;
}

.subtitle {
	text-align:center;
	color: green;
	font-size: 20px !important;
}

.selected-instrument {
	
}

.fret {
	display: inline-block;
	background-color: brown;
	border-style: inset;
	border-color: black;
}
